{% extends "::base.html.twig" %}

{% block title %}Elearning | About{% endblock %}

{% block body %}
  <div class="jumbotron">
    <h1>Welcome to the StaticPage:about page</h1>
  </div>
{% endblock %}
