{% extends "::base.html.twig" %}

{% block title %}Elearning | Home{% endblock %}

{% block body %}
  <div class="jumbotron">
    <h3>Welcome to the StaticPage:index page</h3>
    {% if app.user == false %}
      <a href="{{ path('user_registration') }}" class="btn btn-primary">Register</a>
    {% endif %}
  </div>
{% endblock %}
