<footer>
  <div class="container">
      <div class="row">
          <div id="footer-copyright" class="col-md-6">
              <p>&copy; {{ "now"|date("Y") }} - The Symfony Project</p>
          </div>
      </div>
  </div>
</footer>
